<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>二级分类管理</title>

		<link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/table.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/page.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/popup.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/form.css" />
	</head>

	<body>
		<div class="container">
			<h1 class="tabTitle"><span onclick="NewPage('/CateTwo/goCategory2')"><img src="/images/backstage/xjt.png"/></span>二级分类</h1>
			<div class="serach">
				
				一级分类：<select class="textStyle" id="yifen" style="width:80px;">

					</select>
				二级分类名：<input type="text" class="textStyle" style="width:120px;" id="souText"/>
				<input type="button" value="搜索" class="button search" id="sousuo" />
				<input type="button" value="新增" class="button add"  id="dianji" />


			</div>
			<!--弹框-->
			<div class="mbStyle">&nbsp;</div>

			<!--搜索区结束-->
			<div class="info">
				<table cellpadding="0" cellspacing="0" border="0" class="selectTable" id="tableData">
					<thead id="fen2">
						<tr>
							<th>&nbsp;</th>
							<th>编号</th>
							<th>分类名</th>
							<th>操作</th>
						</tr>
					</thead>
					<!-- <tbody>
						<tr>
							<td colspan="11"><img src='images/loading.gif' /></td>
						</tr>
					</tbody>-->
				</table>
				<div style="display:none" id="xianshi">
					<div class="sort">
					<p style="position:relative; ">二级分类名：<span class="sortcon"><input type="text" class="textStyle tian" name="sProblem" style="width:80px;" /></span>
					<input type="button" value="" class="button add addsortcon"  style="position:absolute; bottom:0; height:35px" /></p></div>
					<div>
						<input type="submit" value="提交"  class="button save">
						<input type="submit" value="返回" onclick="NewPage('/CateTwo/goCategory2')" class="button ">
					</div>
				</div>
			</div>

		</div>

		<script src="/js/backstage/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/js/backstage/table.js"></script>
		<script type="text/javascript" src="/js/backstage/popup.js"></script>
		<script type="text/javascript" src="/js/management/category2.js"></script>
		<script type="text/javascript" src="/js/backstage/global.js"></script>
		<script type="text/javascript">
			$("#dianji").click(function(){
			$("#xianshi").show();
			$(".aaa").siblings().remove();
				}); 
				
			$(function(){

				$(".sort").on("click",".addsortcon",function(){
					var sortcon = '<input type="text" class="textStyle tian" name="sProblem" style="width:80px;">';
					$(this).prev().append(sortcon);
				});
				$(document).on("click",".aaa",function(){
                    var context = '<input type="text" class="textStyle" style="width:60px;"><span class="ti">提交</span>&nbsp;&nbsp;<span onclick=NewPage("/CateTwo/goCategory2")>返回</span>'
                    $(this).next().html(context);
				});
			});

		</script>

	</body>

</html>