<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>商品修改</title>
		<link rel="stylesheet" type="text/css" href="/css/backstage/global.css">
		<link rel="stylesheet" type="text/css" href="/css/backstage/form.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/add.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/layout.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/popup.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/table.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/upload.css" />
		<link rel="stylesheet" type="text/css" href="/css/backstage/sku_style.css" />
		<link rel="stylesheet" type="text/css" href="/js/management/kindeditor/themes/default/default.css" />
	</head>
	<style type="text/css">
		.hide111{display:none}
		.labelBtn2{background:#96aecd;padding:5px 15px;color:#fff;}
		.labelBtn2:hover{background:#a0b7d4;}
	</style>
	<body>
		<div class="container">
			<h1 class="tabTitle"><span onclick="NewPage('/commodity/goxiajia')"><img src="/images/backstage/xjt.png"/>

			</span>填写商品基本信息</h1>
				
			<div class="info">
				
				<form action="#" method="post" enctype="multipart/form-data" onsubmit="return checkForm()" class="formSheet">
					<input type="hidden" name="productId" class="productId" value="${productId}">
					<input type="hidden" name="category03" class="category03" value="${product.category03}">
					<input type="hidden" name="sortconId" class="sortconId" value="${product.sortConId}">
					<input type="hidden" name="options" class="options" value="${options}">
					<dl>
						<dt><span>商品名称</span></dt>
						<dd>
							<div class="fbox">
								<input type="text" class="textStyle" id="productName" name="productName" style="width:360px;" placeholder="请输入商品名" value="${product.productName}"/>
							</div>
						</dd>
					</dl>
					<dl>
						<dt><span>商品卖点</span></dt>
						<dd>
							<div class="fbox">
								<input type="text" class="textStyle" id="maidian" name="maidian" style="width:360px;" placeholder="请输入商品卖点" value="${product.maidian}"/>
							</div>
						</dd>
					</dl>
					<dl>
						<dt><span>商品属性</span></dt>
						
						<dd class="shuxing">


						</dd>
					</dl>
					
					<dl>
						<dt><span>商品图片</span></dt>
						<dd>
							<dl>
								<dd>
									<#list pics as pic>
										<img src="${pic.picPath}" width="80" height="80" />
									</#list>
								</dd>
								<dd>
									<input type="button" value="更改图片" class="button gaitu" />
								</dd>
							</dl>
						</dd>
						<dd style="display: none">
							<dl>
						    <dd>

								<input type="file" name="attach" id="pic1" class="hide111"/>
								<input type="file" name="attach" id="pic2" class="hide111"/>
								<input type="file" name="attach" id="pic3" class="hide111"/>
								<input type="file" name="attach" id="pic4" class="hide111"/>
								<input type="file" name="attach" id="pic5" class="hide111"/>
								<label for="pic1" class="labelBtn2">上传图片</label>
								<label for="pic2" class="labelBtn2" style="display:none">上传图片</label>
								<label for="pic3" class="labelBtn2" style="display:none">上传图片</label>
								<label for="pic4" class="labelBtn2" style="display:none">上传图片</label>
								<label for="pic5" class="labelBtn2" style="display:none">上传图片</label>
						    </dd>
						   </dl>
						   <dl>
						    <dt style="text-align:right;"></dt>
						    <dd>
								<img src="#" width="80" height="80" class="tupian1" />
								<img src="#" width="80" height="80" class="tupian2"/>
								<img src="#" width="80" height="80" class="tupian3"/>
								<img src="#" width="80" height="80" class="tupian4"/>
								<img src="#" width="80" height="80" class="tupian5"/>
						    </dd>
						   </dl>

						</dd>
					</dl>

					<dl>
						<dt><span>商品规格</span></dt>
						<dd class="guige">
							<div class="gg">
							</div>
							<!--<button class="cloneSku">添加自定义sku属性</button>-->

							<!--sku模板,用于克隆,生成自定义sku-->
							<div id="skuCloneModel" style="display: none;">
								<div class="clear"></div>
								<ul class="SKU_TYPE">
									<li is_required='0' propid='' sku-type-name="">
										<a href="javascript:void(0);" class="delCusSkuType">移除</a>
										<input type="text" class="cusSkuTypeInput" />：
									</li>
								</ul>
								<ul>
									<li>
										<input type="checkbox" class="model_sku_val" propvalid='' value="" />
										<input type="text" class="cusSkuValInput" />
									</li>
									<button class="cloneSkuVal">添加自定义属性值</button>
								</ul>
								<div class="clear"></div>
							</div>
							<!--单个sku值克隆模板-->
							<li style="display: none;" id="onlySkuValCloneModel">
								<input type="checkbox" class="model_sku_val" propvalid='' value="" />
								<input type="text" class="cusSkuValInput" />
								<a href="javascript:void(0);" class="delCusSkuVal">删除</a>
							</li>
							<div class="clear"></div>
							<div id="skuTable"></div>
						</dd>
					</dl>

					<dl>
						<dt><span>商品详情</span></dt>
						<textarea id="editor_id" name="content" style="width:700px;height:300px;">${product.descript}</textarea>
					</dl>

					<dl>
						<dt>&nbsp;</dt>
						<dd>
							<input type="button" value="保存" class="button save getSetSkuVal" />
						</dd>
					</dl>

				</form>


			</div>
		</div>

		<!--上传弹出框开始    "mb_"后面的值与里面的div名称必须保持一致-->
		<div id="mb_upfile">&nbsp;</div>
		<div class="popup" id="upfile">
			<h1>上传文件<span class="closeX" onclick="closeMask('upfile')">X</span></h1>
			<div class="pInfo">
				<form action="#">
					<div class='uploadfile' id="uploadfile"></div>
				</form>
			</div>
			<div class="pfooter">
				<input type="button" class="button" value="上传" id="upload" onclick="uploadFile()" />

			</div>
		</div>
		<!--蒙板结束-->
		<!--对话框蒙板开始-->
		<div class="mbStyle">&nbsp;</div>


		<script type="text/javascript" src='/js/backstage/jquery-3.3.1.min.js'></script>
		<script type="text/javascript" src="/js/backstage/global.js"></script>
		<script type="text/javascript" src="/js/backstage/table.js"></script>
		<script type="text/javascript" src="/js/backstage/popup.js"></script>
		<script type="text/javascript" src="/js/backstage/upload.js"></script>
		<script type="text/javascript" src="/js/management/modifyProject.js"></script>
		<script type="text/javascript" src="/js/management/kindeditor/kindeditor-all-min.js"></script>
		<script type="text/javascript" src="/js/management/kindeditor/lang/zh-CN.js"></script>
		<script type="text/javascript" src="/js/management/createSkuTable.js"></script>
		<script type="text/javascript" src="/js/management/customSku.js"></script>
		<script type="text/javascript" src="/js/management/layer.js"></script>
		<script type="text/javascript" src="/js/management/getSetSkuVals.js"></script>
		<script type="text/javascript">

            KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
            });

			//上传弹窗
			$(function() {
                $(".gaitu").click(function () {
                    $(this).parent().parent().parent().hide();
                    $(this).parent().parent().parent().next().show();
                })

				$("#upload").click(function() {
					//参数false代表文件不是图片
					up_load(true);
					//弹框
					mask(420, 270, true, "upfile");
				});

			});
			//表单验证   注意：文本提示的信息应在开始的时候全部写在placeholder中
			function checkForm() {
				var name = checkUserName();
				return name;
			}
			//验证姓名   
			function checkUserName() {
				var username = $("#userName");
				var usernameText=$("#userNameText");
				if(username.val() == "") {
					username.addClass("err");
					usernameText.text("姓名输入不能超过四个字符")
					usernameText.addClass("red");
					return false;
				} else {
					username.removeClass("err");
					return true;
				}
			}
		</script>

	</body>

</html>