<div class="integral-item__list" id="hahha" >

    <#list selectProduct as p>

    <div class="integral-item">
        <div class="tdf3">
            <a class="integral-item__info" href="">
                <div class="img"><img src="images/temp/M-006.jpg" alt="" class="cover"></div>
                <div class="name ep2">${p.productName}</div>
                <div class="type">颜色分类：深棕色 尺码：均码</div>
            </a>
        </div>
        <div class="tdf2"><span class="c9">${p.price}</span></div>
        <div class="tdf2"><span class="cr" >${p.price*0.1}</span></div>
       <#if ((list.integral?number) >= (p.price * 0.1) ) >
        <div class="tdf1">
            <a class="but" href="#" role="button" onclick="lll( ${p.price*0.1},${p.id} )">兑换</a>
        </div>
      </#if>
    <#if 	((list.integral?number)  < (p.price * 0.1)) >
    <div class="tdf1">
        <a class="but disabled" href="#" role="button">积分不够</a>
    </div>
    </#if>
    </div>
</#list>
<div class="page text-right clearfix">
    <a href=" javascript:" <#if (pageIndex-1>0)>onclick="ss(${pageIndex-1})"  </#if>  >上一页</a>

<a href="javascript:"   <#if (pageIndex < pageCount) >onclick="ss(${pageIndex+1})"  </#if> >下一页</a>


</span>
</div>
