<div class="mv">
    <div style="height: 20px;">
        <div class="sort-total pull-right">共${shuliang}个商品</div>
    </div>
    <div class="item-list__area clearfix">
        <#list selectmohu as probyxiao>

        <div class="item-card">
            <a href="/commodity/shopshow.html?id=${probyxiao.id}" class="photo">
                <img src="${probyxiao.productPic.picPath}" alt="锦瑟 原创传统日常汉服男绣花交领衣裳cp情侣装春夏款" class="cover">
                <div class="name">${probyxiao.productName}</div></a>
            <div class="middle">
                <div class="price"><small>￥</small>${probyxiao.price}</div>
                <div class="sale no-hide"><a href="">满100减20</a></div>
            </div>
            <div class="buttom">
                <div>销量 <b>${probyxiao.xiaoliang}</b></div>
                <div>人气 <b></b></div>
                <div>评论 <b>${probyxiao.comment}</b></div>
            </div>
        </div>
    </#list>
</div>
<!-- 分页 -->
<div class="page text-right clearfix">
    <a href="javascript:"<#if (pageIndex-1<= 0) > class="disabled"</#if> <#if (pageIndex-1> 0) > onclick="showmo(${pageIndex-1})"</#if> >上一页</a>

<#list 1..pageCount as i>
<a href="javascript:" onclick="showmo(${i})">${i}</a>
</#list>

<a href="javascript:" <#if (pageIndex >= pageCount) > class="disabled"</#if><#if (pageIndex < pageCount) > onclick="showmo(${pageIndex+1})"</#if> >下一页</a>

<a class="disabled">${pageIndex}/${pageCount}页</a>
<span  class="page-order">
		                到第
		                <input type="text" name="page" id="ye" pattern="^[0-9]*$"/>
		                页
                        <input class="sub"  value="确定" onclick="show1mo(${pageCount})"/>
	                </span>
</div>
</div>