
<div class="item-list__area clearfix">
    <#list list1 as probyxiao>

    <div class="item-card">
        <a href="/commodity/shopshow.html?id=${probyxiao.id}" class="photo">
            <img src="${probyxiao.productPic.picPath}" alt="锦瑟 原创传统日常汉服男绣花交领衣裳cp情侣装春夏款" class="cover">
            <div class="name">${probyxiao.productName}</div></a>
        <div class="middle">
            <div class="price"><small>￥</small>${probyxiao.price}</div>
            <div class="sale no-hide"><a href="">满100减20</a></div>
        </div>
        <div class="buttom">
            <div>销量 <b>${probyxiao.xiaoliang}</b></div>
            <div>人气 <b></b></div>
            <div>评论 <b>${probyxiao.comment}</b></div>
        </div>
    </div>
</#list>
</div>
<!-- 分页 -->
<div class="page text-right clearfix">
    <#if (pageindex>1)>
    <a class="disabled" onclick="index(${pageindex-1})">上一页</a>
    </#if>
<#list 1..countpage as i>
<a onclick="index(${i})">${i}</a>
</#list>

    <#if (pageindex<countpage)>
    <a onclick="index(${pageindex+1})">下一页</a>
    </#if>
    <a class="disabled">${pageindex}/${countpage}页</a>
    <form  class="page-order">
        到第
        <input type="text" name="page" id="page">
        页
        <input class="sub" type="button" value="确定" onclick="shu()">
    </form>
</div>
