<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.CategoryOneMapper">
    <select id="Onelist" resultType="CategoryOne">
    select  id,categoryName from categoryone
    </select>
    <insert id="insertOne" parameterType="CategoryOne">
        insert into categoryone(categoryName) value(#{categoryName})
    </insert>
    <update id="updateOne" parameterType="CategoryOne">
        UPDATE categoryone set categoryName=#{categoryName} where id=#{id}
    </update>
</mapper>