<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.CategoryThreeMapper">
    <select id="listThree" resultType="CategoryThree">
        select id,categoryName,parentId from categorythree where parentId=#{id}
    </select>
    <insert id="insertThree" parameterType="CategoryThree">
        insert into categorythree(categoryName,parentId) value(#{categoryName},#{parentId})
    </insert>
    <update id="updateThree" parameterType="CategoryThree">
        update categorythree set categoryName=#{categoryName},parentId=#{parentId} where id=#{id}
    </update>
</mapper>