<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.CategoryOneMapper">
    <select id="Onelist" resultType="CategoryOne">
        select  id,categoryName from categoryone
        <where>
            <if test="categoryName !=null and categoryName != ''">
                categoryName like CONCAT ("%",#{categoryName},"%")
            </if>
        </where>
    </select>
    <insert id="insertOne" parameterType="java.util.List">
        insert into categoryone(categoryName) values
        <foreach collection="list" item="cate" separator=",">
            (#{cate})
        </foreach>
    </insert>
    <update id="updateOne" parameterType="CategoryOne" >
        UPDATE categoryone set categoryName=#{categoryName} where id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from categoryone where id=#{id}
    </delete>
    <select id="Onelist1" resultType="CategoryTwo" parameterType="int">
        select id from categorytwo where parentId=#{parentId}
    </select>
    <delete id="shanchu2" parameterType="int">
        delete from categorytwo where parentId=#{parentId}
    </delete>
    <delete id="shanchu3" parameterType="java.util.List">
        delete from categorythree where parentId IN
        <foreach collection="list" item="it" open="(" close=")" separator=",">
            #{it.id}
        </foreach>
    </delete>
</mapper>