<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.ProductMapper">
<select id="selectall" parameterType="int" resultMap="select">
    select productName,price,descript,kucun,product.id,optionName,skuoption.productId,skuoption.id,skuproperty.propertyName,skuproperty.categoryId
    from product,skuoption,skuproperty
    where product.id=skuoption.productId
    and skuoption.id=skuproperty.categoryId
    and product.id=#{id}

</select>
    <resultMap id="select" type="com.ageless.pojo.Product" autoMapping="true">
        <id property="id" column="id"></id>
        <result property="productId" column="productId"></result>
        <result property="productName" column="productName"></result>
        <result property="descript" column="descript"></result>
        <result property="maidian" column="maidian"></result>
        <result property="update" column="update"></result>
        <result property="downdate" column="downdate"></result>
        <result property="status" column="status"></result>
        <result property=" price" column=" price"></result>
        <result property=" kucun" column=" kucun"></result>
        <result property="xiaoliang" column="xiaoliang"></result>
        <result property="comment" column="comment"></result>
        <result property="sendScore" column="sendScore"></result>
        <result property="category01" column="category01"></result>
        <result property="category02" column="category02"></result>
        <result property="category03" column="category03"></result>
        <result property="sortId" column="sortId"></result>
        <result property="sortConId" column="sortConId"></result>
<association property="skuOption" javaType="com.ageless.pojo.SkuOption">
    <id property="id" column="id"></id>
    <result property="optionName" column="optionName"></result>
    <result property="productId" column="productId"></result>

</association>
        <association property="skuProperty" javaType="com.ageless.pojo.SkuProperty">
            <id property="id" column="id"></id>
            <result property="propertyName" column="propertyName"></result>
            <result property="categoryId" column="categoryId"></result>
        </association>

    </resultMap>
    <select id="selectPoroductById" parameterType="Integer" resultMap="select">
        SELECT 	id,
            productId,
            productName,
            descript,
            maidian,
            product.UPDATE,
            downdate,
            product.status,
            price,
            kucun,
            xiaoliang,
            product.comment,
            sendScore,
            category01,
            category02,
            category03,
            sortId,
            sortconId
            FROM
            ageless.product
            WHERE
            id = #{id}
    </select>

    <select id="selectAllSkuById" parameterType="Integer" resultType="com.ageless.pojo.Sku">
        SELECT SKUId,
            productId,
            SKUcon,
            kucun,
            price
            FROM
            ageless.sku
            where
            productId = #{id}
            ORDER BY SKUId
    </select>
    
    <select id="selectAllSkuoptionById" resultType="com.ageless.pojo.SkuOption">
        SELECT 	id, 
            optionName, 
            productId
             
            FROM 
            ageless.skuoption
            where id in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
    
    <select id="selectAllSkupropertyByIds" resultType="com.ageless.pojo.SkuProperty" >
        SELECT 	id,
            propertyName,
            categoryId
            FROM
            ageless.skuproperty
            where id in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>

    <select id="selectSkuByCon" resultType="com.ageless.pojo.Sku">
        SELECT 	SKUId,
            productId,
            SKUcon,
            kucun,
            price
            FROM
            ageless.sku
            WHERE
            SKUcon = #{skuCon}
            and
            productId = #{id}
    </select>

    <select id="selectAllPicById" parameterType="Integer" resultType="com.ageless.pojo.ProductPic">
        SELECT 	tuid,
            picPath,
            productId

            FROM
            ageless.productpic
            where
            productId = #{id}
    </select>
    
    <select id="selectPropertyAllById" parameterType="Integer" resultType="com.ageless.pojo.Property">
        SELECT 	id,
            productId,
            title,
            content

            FROM
            ageless.property
            where
            productId = #{id}
    </select>

    <select id="selectEvaluatesBydengji" resultType="com.ageless.pojo.Evaluate">
        SELECT 	pingId,
        dengji,
        evaluate.file,
        photo1,
        photo2,
        photo3,
        photo4,
        photo5,
        uesrId,
        ProductId,
        create_Time,
        user.name
        FROM
        ageless.evaluate,ageless.user
        WHERE
        user.id = evaluate.uesrId
        AND ProductId = #{id}
            <if test="ping!='全部'">
                AND
                dengji = #{ping};
            </if>
    </select>

    <insert id="add" parameterType="Product">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id();
        </selectKey>
        INSERT INTO `product` (`productId`, `productName`, `descript`,maidian, `update`, `downdate`, `status`, `kucun`, `xiaoliang`, `comment`, `sendScore`, `category01`, `category02`, `category03`, sortId , sortconId)
        VALUES (#{productId},
        #{productName},
        #{descript},
        #{maidian},
        #{update},
        #{downdate},
        #{status},
        #{kucun},
        0,
        0,
        #{sendScore},
        #{category01},
        #{category02},
        #{category03},
        #{sortId},
        #{sortConId}
        )
    </insert>

    <update id="modifyProduct" parameterType="Product">
        update product
        <set>
            <if test="productName!=null and productName!=''">
                productName = #{productName},
            </if>
            <if test="descript!=null and descript!=''">
                descript = #{descript},
            </if>
            <if test="maidian!=null and maidian!=''">
                maidian = #{maidian},
            </if>
            <if test="status!=null and status!=0">
                status = #{status},
            </if>
            <if test="price!=null and price!=0">
                price = #{price},
            </if>
            <if test="kucun!=null and kucun!=0">
                kucun = #{kucun},
            </if>
            <if test="sortConId!=null and sortConId!=''">
                sortconId = #{sortConId},
            </if>
            `update`= #{update},
            downdate = #{downdate}
        </set>
        where id = #{id}
    </update>

    <select id="selectNullSkuByOptId" resultType="com.ageless.pojo.Sku">
        SELECT 	SKUId,
            productId,
            SKUcon,
            kucun,
            price

            FROM
            ageless.sku
            WHERE
            1=2
            <foreach item="item" index="index" collection="list">
                OR SKUcon LIKE CONCAT('%:', '${item}',',%')
                AND kucun = 0
                AND productId = #{productId}
            </foreach>
    </select>
</mapper>