<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.ageless.mapper.ShopCartMapper">

<insert id="addShoppingCart">
    INSERT INTO ageless.shoppingcart
	(
	userId,
	productId,
	orderamount,
	skuid
	)
	VALUES
	(
	#{userId},
	#{productId},
	#{orderamount},
	#{skuid}
	);

</insert>

	<!--购物车查询语句-->
	<select id="selshopAll" resultType="com.ageless.pojo.ShoppingCart" >

		/*SELECT shoppingcart.id,shoppingcart.userId,shoppingcart.productId,shoppingcart.orderamount,sku.price

		,productpic.picPath,product.productName,sku.SKUcon,shoppingcart.skuid  FROM shoppingcart

		LEFT  JOIN sku ON shoppingcart.skuid=sku.skuid

		LEFT  JOIN productpic ON shoppingcart.productId=productpic.tuid

		LEFT  JOIN product ON shoppingcart.productId=product.productId  GROUP BY shoppingcart.id

		ORDER BY shoppingcart.id DESC
*/





     </select>
     <delete id="delshop" parameterType="com.ageless.pojo.ShoppingCart" >
            DELETE FROM shoppingcart WHERE id = #{id}
	 </delete>

	<!--查询购物车中要进行结算的商品-->
	<select id="queryShopChecked" resultType="com.ageless.pojo.ShoppingCart" parameterType="Integer">


	SELECT shoppingcart.id,shoppingcart.userId,shoppingcart.productId,shoppingcart.orderamount,sku.price

		,productpic.picPath,product.productName,sku.SKUcon,sku.SKUId FROM shoppingcart

		LEFT  JOIN sku ON shoppingcart.skuid=sku.SKUId

		LEFT  JOIN productpic ON shoppingcart.productId=productpic.tuid

		LEFT  JOIN product ON shoppingcart.productId=product.productId
			WHERE shoppingcart.id = #{productId}
		 GROUP BY shoppingcart.id

		ORDER BY shoppingcart.id DESC


     </select>


	<update id="repairNumberById" parameterType="com.ageless.pojo.ShoppingCart" >
		UPDATE shoppingcart SET orderamount=#{orderamount} WHERE id=#{id}
	</update>

	<select id="selectCart" parameterType="int" resultType="com.ageless.pojo.ShoppingCart">
			SELECT shoppingcart.id,shoppingcart.userId,shoppingcart.productId,shoppingcart.orderamount,sku.price

		,productpic.picPath,product.productName,sku.SKUcon,shoppingcart.skuid  FROM shoppingcart

		LEFT  JOIN sku ON shoppingcart.skuid=sku.skuid

		LEFT  JOIN productpic ON shoppingcart.productId=productpic.tuid

		LEFT  JOIN product ON shoppingcart.productId=product.productId

		WHERE userId=#{userId}
		GROUP BY shoppingcart.id

		ORDER BY shoppingcart.id DESC

	</select>
	<select id="chaCart" parameterType="int" resultType="int">
	SELECT COUNT(1)
	FROM
	ageless.shoppingcart
	WHERE userId = #{userId}
	</select>

</mapper>