<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.SkuPropertyMapper">

	<select id="seleAll" resultMap="sela" >
		SELECT a.id AS oid ,a.optionName,a.productId,s.id AS sid ,s.propertyName,s.categoryId,d.categoryName
		FROM `skuoption` AS a,`skuproperty` AS s,`categorythree` AS d
		WHERE a.productId =s.id AND s.categoryId =d.id
		<if test="id != 0 and id!=null">
			AND s.categoryId =${id}
		</if>
		<if test="name != null and name !=''">
			AND s.propertyName   LIKE CONCAT("%",#{name},"%")
		</if>
		<if test="pid!=null and pid!=''">
			and s.id=#{pid}
		</if>
	</select>
	<resultMap id="sela" type="com.ageless.pojo.SkuProperty">
		<id column="sid" property="id"></id>
		<result column="propertyName" property="propertyName"></result>
		<result column="categoryName" property="categoryName"></result>
		<collection property="list" ofType="com.ageless.pojo.SkuOption">
			<id column="oid" property="id"></id>
			<result column="optionName" property="optionName"></result>
		</collection>
	</resultMap>
	<delete id="shan" >
		 DELETE FROM skuproperty WHERE id= #{id}
	</delete>
	<delete id="shan1">
 		DELETE FROM `skuoption` WHERE productId =#{id}
	</delete>


	<insert id="add" >
		<selectKey  keyProperty="id" resultType="int" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into skuproperty(propertyName,categoryId) VALUES(#{propertyName},#{categoryId});

	</insert>
	<!--添加sku选项-->
	<insert id="addSkuOption" >

		insert into skuoption(optionName,productId) values
		<foreach collection="list" separator="," item="item">
			(#{item.optionName},#{id})


		</foreach>

	</insert>

	<update id="updateSku">
		update skuproperty set propertyName=#{name} where id=#{id}
	</update>

	<update id="updateOption">
		update skuoption set optionName=#{name} where id=#{id}
	</update>
</mapper>