<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.SortconMapper">
    <select id="selectAll" resultMap="all">
       select so.id as sid,so.name as sname,sc.sortconId as cid,sc.sortconName as cname,categoryName from sort as so,sortcon as sc,categorythree
       where so.id=sc.sortId and so.categorythreeId=categorythree.id
    <if test="name!=''and name!=null">
        and so.name  like CONCAT("%",#{name},"%")
    </if>
      <if test="categoryThree!=0 and categoryThree!=null">
          and categorythreeId =#{categoryThree}
      </if>


    </select>
    <resultMap id="all" type="Sort">
        <id column="sid" property="id"></id>
        <result property="name" column="sname"></result>
        <association property="three" javaType="CategoryThree">
           <result property="categoryName" column="categoryName"></result>
        </association>
        <collection property="sortcons" ofType="Sortcon">
            <id property="sortconid" column="cid"></id>
            <result property="sortconname" column="cname"></result>
        </collection>


    </resultMap>
    <delete id="delSort" parameterType="java.lang.Integer">
     DELETE from sort where id =#{id}


    </delete>
    <delete id="delSortcon" parameterType="java.lang.Integer">
        delete from sortcon where sortId=#{id}
    </delete>

    <insert id="add" >
        <selectKey  keyProperty="id" resultType="int" order="AFTER">
            select last_insert_id()
        </selectKey>
       insert into sort(name,categorythreeId) VALUES(#{name},#{categorythreeId});

    </insert>
</mapper>