<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ageless.mapper.UserMapper">

    <select id="loginUser" resultType="User">
        SELECT  `id`,`membership`,`name`,`phone`,
        `sex`,`birthday`,`loginpwd`,`dongjie`,`regtime`,`truename`,
        `integral`,`state`,`paymentpwd`,`mailbox`,`haoqi`
        FROM `user`
        WHERE loginpwd = #{loginpwd}
        <if test="phone != null and phone != ''">
            AND phone = #{phone}
        </if>
        <if test="membership != null and membership != ''">
            AND membership = #{membership}
        </if>
        <if test="mailbox != null and mailbox != ''">
            AND mailbox = #{mailbox}
        </if>
    </select>

    <update id="updateUser">
        UPDATE  `user`
        <trim prefix="set" suffixOverrides=",">
            <if test="membership!=null and membership!=''">
                membership=#{membership},
            </if>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="sex!=null and sex!=''">
                sex=#{sex},
            </if>
            <if test="birthday!=null and birthday!=''">
                birthday=#{birthday},
            </if>
            <if test="loginpwd!=null and loginpwd!=''">
                loginpwd=#{loginpwd},
            </if>
            <if test="truename!=null and truename!=''">
                truename=#{truename},
            </if>
            <if test="paymentpwd!=null and paymentpwd!=''">
                paymentpwd=#{paymentpwd},
            </if>
            <if test="mailbox!=null and mailbox!=''">
                mailbox=#{mailbox},
            </if>
            <if test="dongjie!=null and dongjie!=''">
                dongjie=#{dongjie},
            </if>
            <if test="state!=null and state!=''">
                state=#{state},
            </if>
        </trim>
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="membership!=null and membership!=''">
            and membership=#{membership}
        </if>
        <if test="phone!=null and phone!=''">
            and phone=#{phone}
        </if>
        <if test="mailbox!=null and mailbox!=''">
            and mailbox=#{mailbox}
        </if>
    </update>

    <select id="selectId" resultType="java.lang.Integer">
        SELECT id FROM USER ORDER BY id DESC LIMIT 0,1
    </select>
    <select id="selectCount" parameterType="com.ageless.pojo.User" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM ageless.user where 1=1
        <if test="phone!=null and phone!=''">
            and phone=#{phone}
        </if>
        <if test="mailbox!=null and mailbox!=''">
            and mailbox=#{mailbox}
        </if>
        <if test="membership!=null and membership!=''">
            and membership=#{membership}
        </if>
    </select>
    <insert id="inserInfo" parameterType="com.ageless.pojo.User">
        INSERT INTO ageless.user (membership,phone,loginpwd,regtime)VALUES(#{membership},#{phone},#{loginpwd},#{regtime});
    </insert>
    <insert id="inserInfo1" parameterType="com.ageless.pojo.User">
        INSERT INTO ageless.user (membership,mailbox,loginpwd,regtime)VALUES(#{membership},#{mailbox},#{loginpwd},#{regtime});
    </insert>
    <select id="userLoginOpenId" resultType="com.ageless.pojo.User">
        SELECT NAME,phone,sex,birthday FROM USER WHERE openId=#{openId}
    </select>
    <insert id="addQqUser" parameterType="com.ageless.pojo.User">

    INSERT INTO ageless.user
    (
    membership,
    loginpwd,
    dongjie,
    regtime,
    integral,
    state,
    openId
    )
    VALUES
    (
    #{membership},
    #{loginpwd},
    #{dongjie},
    NOW(),
    #{integral},
    #{state},
    #{openId},
    );
    </insert>

    <select id="sellectAll" resultType="com.ageless.pojo.User" parameterType="com.ageless.pojo.User">
        SELECT 	id, membership, NAME, phone, sex, birthday, loginpwd, dongjie, regtime, truename, integral, state, paymentpwd, mailbox, openId, haoqi FROM ageless.user where 1=1
        <if test="membership!=null and membership!=''">
            and membership=#{membership}
        </if>
    </select>
    <select id="sellectAll1" resultType="com.ageless.pojo.User" parameterType="com.ageless.pojo.User">
        SELECT 	id, membership, NAME, phone, sex, birthday, loginpwd, dongjie, regtime, truename, integral, state, paymentpwd, mailbox, openId, haoqi FROM ageless.user where 1=1
        <if test="membership!=null and membership!=''">
            and membership!=#{membership}
        </if>
        AND state!='3'
    </select>
</mapper>